.container-form-franchise{
    width: 30vh;
    height: 30vh;
    
}

.formTitle{
    font-size: 25px;
    color: #1b143d;
    text-align: center;
    width: 40vh;
    font-size: 30px;
}

.container-inputs{
    width: 41vh;
    margin-top: 30px;
}

.container-inputs label{
    font-size: 18px;
    color: #1b143d;
}

.container-inputs input{
    width: 100%;
    height: 5.5vh;
    background-color: #f4f4f4;
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;

}

.container-btn{
    width: 40vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container-btn button{
    margin-right: 10px;
    margin-left: 10px;
    width: 16vh;
    height: 5vh;
    font-size: 15px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.btn-register{
    background-color: #37297b;
    transition: .3s all;
}

.container-btn i{
    margin-right: 8px;
}



.btn-register:hover{
    background-color: #47379b;
}

.btn-cancel{
    background-color: #cc1515;
    transition: .3s all;
}

.btn-cancel:hover{
    background-color: #e32c2c;
}